.signIn-wrapper {
    height: 100vh;
    padding: 20px;
    align-items: center;
}

.signIn-wrapper .signIn {
    width: 400px;
    height: min-content;
    border-radius: 5px;
    padding: 25px;
    color: black;
    background-color: rgb(238, 241, 243);
}

.signIn-wrapper .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.signIn-wrapper .errorInputField {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.signIn-wrapper .forget-password {
    cursor: pointer;
    color: #7e7a7a;
    width: fit-content;
}

.signIn-wrapper .forget-password:hover {
    color: black;
}